In [118]:
# Bibliotecas
import os
import pandas as pd
import matplotlib.pyplot as plt

In [119]:
# Variáveis de Ambiente

# Arquivo Principal
diretorio = os.path.join(os.getcwd(), 'base')
caminho_dados = os.path.join(diretorio, 'br_sp_gov_ssp_ocorrencias_registradas.csv')
dados = pd.read_csv(caminho_dados)

### Análise Exploratória

In [132]:
# Ano Mínimo e Máximo
print(dados['ano'].min(), dados['ano'].max())

2002 2021

In [120]:
# Exibe a quantidade de registros e colunas da base
dados.shape

(153876, 27)

In [121]:
# Exibe a lista de colunas da base
dados.columns

Index(['ano', 'mes', 'id_municipio', 'regiao_ssp', 'homicidio_doloso',
       'numero_de_vitimas_em_homicidio_doloso',
       'homicidio_doloso_por_acidente_de_transito',
       'numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito',
       'homicidio_culposo_por_acidente_de_transito',
       'homicidio_culposo_outros', 'tentativa_de_homicidio',
       'lesao_corporal_seguida_de_morte', 'lesao_corporal_dolosa',
       'lesao_corporal_culposa_por_acidente_de_transito',
       'lesao_corporal_culposa_outras', 'latrocinio',
       'numero_de_vitimas_em_latrocinio', 'total_de_estupro', 'estupro',
       'estupro_de_vulneravel', 'total_de_roubo_outros', 'roubo_outros',
       'roubo_de_veiculo', 'roubo_a_banco', 'roubo_de_carga', 'furto_outros',
       'furto_de_veiculo'],
      dtype='object')

In [122]:
# Exibe a quantidade de valores nulos em cada coluna
dados.isnull().sum()

ano                                                                    0
mes                                                                    0
id_municipio                                                           0
regiao_ssp                                                             0
homicidio_doloso                                                    2580
numero_de_vitimas_em_homicidio_doloso                               2580
homicidio_doloso_por_acidente_de_transito                          10176
numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito     10176
homicidio_culposo_por_acidente_de_transito                          2580
homicidio_culposo_outros                                            2580
tentativa_de_homicidio                                              2580
lesao_corporal_seguida_de_morte                                    48648
lesao_corporal_dolosa                                               2580
lesao_corporal_culposa_por_acidente_de_transito                     2580
lesao_corporal_culposa_outras                                       2580
latrocinio                                                          2580
numero_de_vitimas_em_latrocinio                                     2580
total_de_estupro                                                    2580
estupro                                                           117888
estupro_de_vulneravel                                             110196
total_de_roubo_outros                                               2580
roubo_outros                                                      117888
roubo_de_veiculo                                                    2580
roubo_a_banco                                                       2580
roubo_de_carga                                                      2580
furto_outros                                                        2580
furto_de_veiculo                                                    2580
dtype: int64

In [123]:
# Exibe informações gerais sobre a base
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153876 entries, 0 to 153875
Data columns (total 27 columns):
 #   Column                                                          Non-Null Count   Dtype
---  ------                                                          --------------   -----
 0   ano                                                             153876 non-null  int64
 1   mes                                                             153876 non-null  int64
 2   id_municipio                                                    153876 non-null  int64
 3   regiao_ssp                                                      153876 non-null  object
 4   homicidio_doloso                                                151296 non-null  float64
 5   numero_de_vitimas_em_homicidio_doloso                           151296 non-null  float64
 6   homicidio_doloso_por_acidente_de_transito                       143700 non-null  float64
 7   numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito  143700 non-null  float64
 8   homicidio_culposo_por_acidente_de_transito                      151296 non-null  float64
 9   homicidio_culposo_outros                                        151296 non-null  float64
 10  tentativa_de_homicidio                                          151296 non-null  float64
 11  lesao_corporal_seguida_de_morte                                 105228 non-null  float64
 12  lesao_corporal_dolosa                                           151296 non-null  float64
 13  lesao_corporal_culposa_por_acidente_de_transito                 151296 non-null  float64
 14  lesao_corporal_culposa_outras                                   151296 non-null  float64
 15  latrocinio                                                      151296 non-null  float64
 16  numero_de_vitimas_em_latrocinio                                 151296 non-null  float64
 17  total_de_estupro                                                151296 non-null  float64
 18  estupro                                                         35988 non-null   float64
 19  estupro_de_vulneravel                                           43680 non-null   float64
 20  total_de_roubo_outros                                           151296 non-null  float64
 21  roubo_outros                                                    35988 non-null   float64
 22  roubo_de_veiculo                                                151296 non-null  float64
 23  roubo_a_banco                                                   151296 non-null  float64
 24  roubo_de_carga                                                  151296 non-null  float64
 25  furto_outros                                                    151296 non-null  float64
 26  furto_de_veiculo                                                151296 non-null  float64
dtypes: float64(23), int64(3), object(1)
memory usage: 31.7+ MB

In [124]:
# Exibe os cinco primeiros registros da base
dados.head()

,ano,mes,id_municipio,regiao_ssp,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
0,2002,1,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,21.0,0.0
1,2002,2,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,32.0,0.0
2,2002,3,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,36.0,0.0
3,2002,4,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,1.0,NaN,0.0,0.0,0.0,45.0,0.0
4,2002,5,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,1.0,NaN,0.0,0.0,0.0,35.0,0.0

In [125]:
# Exibe os cinco últimos registros da base
dados.tail()

,ano,mes,id_municipio,regiao_ssp,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
153871,2019,8,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.0,0.0
153872,2019,9,3500105,Presidente Prudente,1.0,1.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,11.0,0.0
153873,2019,10,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,13.0,1.0
153874,2019,11,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,14.0,1.0
153875,2019,12,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,14.0,0.0

In [126]:
# Exibe o resumo estatístico dos dados
dados.describe()

,ano,mes,id_municipio,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,tentativa_de_homicidio,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
count,153876.000000,153876.000000,1.538760e+05,151296.000000,151296.000000,143700.000000,143700.000000,151296.000000,151296.000000,151296.000000,...,151296.000000,35988.000000,43680.000000,151296.000000,35988.000000,151296.000000,151296.000000,151296.000000,151296.000000,151296.000000
mean,2011.503158,6.500000,3.528670e+06,0.671558,0.711526,0.003292,0.004036,0.541878,0.032089,0.745281,...,1.057397,0.396688,0.966003,32.460039,31.959264,9.314311,0.025176,0.924089,66.754019,13.507456
std,5.771254,3.452064,1.673251e+04,6.784264,7.214758,0.069767,0.091217,2.363979,0.322086,5.398951,...,7.299465,2.693445,5.725064,427.796418,444.889097,126.973193,0.487330,14.084669,598.922563,153.603132
min,2002.000000,1.000000,3.500105e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2006.000000,3.750000,3.514502e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000
50%,2012.000000,6.500000,3.528502e+06,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000
75%,2017.000000,9.250000,3.543238e+06,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,0.000000,1.000000,4.000000,3.000000,1.000000,0.000000,0.000000,35.000000,2.000000
max,2021.000000,12.000000,3.557303e+06,474.000000,499.000000,8.000000,11.000000,91.000000,33.000000,288.000000,...,329.000000,103.000000,218.000000,14927.000000,14337.000000,5082.000000,34.000000,655.000000,25063.000000,5296.000000

### Gráficos Inicias

In [130]:
dados.head()

,ano,mes,id_municipio,regiao_ssp,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
0,2002,1,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,21.0,0.0
1,2002,2,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,32.0,0.0
2,2002,3,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,0.0,NaN,0.0,0.0,0.0,36.0,0.0
3,2002,4,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,1.0,NaN,0.0,0.0,0.0,45.0,0.0
4,2002,5,3500105,Presidente Prudente,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,NaN,NaN,1.0,NaN,0.0,0.0,0.0,35.0,0.0