In [187]:
# Bibliotecas
import os
import pandas as pd
import matplotlib.pyplot as plt

In [188]:
# Variáveis de Ambiente

# Arquivo Principal
diretorio = os.path.join(os.getcwd(), 'base')
caminho_dados = os.path.join(diretorio, 'br_ibge_despesa_coletiva_2017.csv')
despesa_coletiva = pd.read_csv(caminho_dados)

# Arquivo de Tradução do Campo UF
uf_path = os.path.join(diretorio, 'br_ibge_uf.csv')
uf = pd.read_csv(uf_path)

# Arquivo de Tradução do Campo "Situação", "V9002", "V9004", "V9010", "V9012", "V1905"
fields_path = os.path.join(diretorio, 'br_ibge_campos.csv')
fields = pd.read_csv(fields_path)

# Join Despesa Coletiva & UF
dados = pd.merge(despesa_coletiva, uf, left_on='sigla_uf', right_on='sigla', how='inner')

### Análise Exploratória

In [177]:
# Exibe a quantidade de registros e colunas da base
dados.shape

(478572, 32)

In [178]:
# Exibe a lista de colunas da base
dados.columns

Index(['sigla_uf', 'situacao', 'id_estrato', 'id_unidade_primaria_amostragem',
       'id_domicilio', 'id_unidade_consumo', 'id_quadro', 'id_codigo_5_bd',
       'id_codigo_7_bd', 'V9001', 'V9002', 'V9004', 'V9005', 'V9010', 'V9011',
       'V9012', 'V1905', 'indicador_imputacao_valor',
       'indicador_imputacao_qtd', 'fator_anualizacao', 'deflator', 'V8000',
       'V1904', 'V8000_deflacionado', 'V1904_deflacionado', 'renda_total',
       'peso', 'peso_final', 'id_uf', 'sigla', 'nome', 'regiao'],
      dtype='object')

In [179]:
# Exibe a quantidade de valores nulos em cada coluna
dados.isnull().sum()

sigla_uf                               0
situacao                               0
id_estrato                             0
id_unidade_primaria_amostragem         0
id_domicilio                           0
id_unidade_consumo                     0
id_quadro                              0
id_codigo_5_bd                         0
id_codigo_7_bd                         0
V9001                                  0
V9002                                  0
V9004                             219827
V9005                             426390
V9010                             434102
V9011                             434102
V9012                             340149
V1905                             468295
indicador_imputacao_valor              0
indicador_imputacao_qtd           426390
fator_anualizacao                      0
deflator                            7960
V8000                                  0
V1904                             477120
V8000_deflacionado                     0
V1904_deflacionado                477130
renda_total                            0
peso                                   0
peso_final                             0
id_uf                                  0
sigla                                  0
nome                                   0
regiao                                 0
dtype: int64

In [180]:
# Exibe informações gerais sobre a base
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 478572 entries, 0 to 478571
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   sigla_uf                        478572 non-null  object
 1   situacao                        478572 non-null  int64
 2   id_estrato                      478572 non-null  int64
 3   id_unidade_primaria_amostragem  478572 non-null  int64
 4   id_domicilio                    478572 non-null  int64
 5   id_unidade_consumo              478572 non-null  int64
 6   id_quadro                       478572 non-null  int64
 7   id_codigo_5_bd                  478572 non-null  int64
 8   id_codigo_7_bd                  478572 non-null  int64
 9   V9001                           478572 non-null  int64
 10  V9002                           478572 non-null  int64
 11  V9004                           258745 non-null  float64
 12  V9005                           52182 non-null   float64
 13  V9010                           44470 non-null   float64
 14  V9011                           44470 non-null   float64
 15  V9012                           138423 non-null  float64
 16  V1905                           10277 non-null   float64
 17  indicador_imputacao_valor       478572 non-null  int64
 18  indicador_imputacao_qtd         52182 non-null   float64
 19  fator_anualizacao               478572 non-null  int64
 20  deflator                        470612 non-null  float64
 21  V8000                           478572 non-null  float64
 22  V1904                           1452 non-null    float64
 23  V8000_deflacionado              478572 non-null  float64
 24  V1904_deflacionado              1442 non-null    float64
 25  renda_total                     478572 non-null  float64
 26  peso                            478572 non-null  float64
 27  peso_final                      478572 non-null  float64
 28  id_uf                           478572 non-null  int64
 29  sigla                           478572 non-null  object
 30  nome                            478572 non-null  object
 31  regiao                          478572 non-null  object
dtypes: float64(15), int64(13), object(4)
memory usage: 120.5+ MB

In [181]:
# Exibe os cinco primeiros registros da base
dados.head()

,sigla_uf,situacao,id_estrato,id_unidade_primaria_amostragem,id_domicilio,id_unidade_consumo,id_quadro,id_codigo_5_bd,id_codigo_7_bd,V9001,...,V1904,V8000_deflacionado,V1904_deflacionado,renda_total,peso,peso_final,id_uf,sigla,nome,regiao
0,AP,1,1604,160002843,16000284302,1600028430201,6,6001,600101,600101,...,NaN,204.41,NaN,2795.25,208.658163,319.981707,16,AP,Amapá,Norte
1,AP,1,1604,160002843,16000284302,1600028430201,6,6005,600501,600501,...,NaN,110.00,NaN,2795.25,208.658163,319.981707,16,AP,Amapá,Norte
2,AP,1,1604,160002843,16000284302,1600028430201,11,11013,1101305,1101305,...,NaN,10.03,NaN,2795.25,208.658163,319.981707,16,AP,Amapá,Norte
3,AP,1,1604,160002843,16000284302,1600028430201,11,11016,1101601,1101601,...,NaN,147.02,NaN,2795.25,208.658163,319.981707,16,AP,Amapá,Norte
4,AP,1,1604,160002843,16000284302,1600028430201,11,11020,1102001,1102001,...,NaN,315.32,NaN,2795.25,208.658163,319.981707,16,AP,Amapá,Norte

In [182]:
# Exibe os cinco últimos registros da base
dados.tail()

,sigla_uf,situacao,id_estrato,id_unidade_primaria_amostragem,id_domicilio,id_unidade_consumo,id_quadro,id_codigo_5_bd,id_codigo_7_bd,V9001,...,V1904,V8000_deflacionado,V1904_deflacionado,renda_total,peso,peso_final,id_uf,sigla,nome,regiao
478567,SP,2,3545,350381098,35038109815,3503810981501,17,17038,1703801,1703801,...,NaN,898.74,NaN,5116.44,575.43393,716.664358,35,SP,São Paulo,Sudeste
478568,SP,2,3545,350381098,35038109816,3503810981601,7,7001,700101,700101,...,NaN,45.20,NaN,5095.45,575.43393,716.664358,35,SP,São Paulo,Sudeste
478569,SP,2,3545,350381098,35038109816,3503810981601,7,7007,700701,700701,...,NaN,20.08,NaN,5095.45,575.43393,716.664358,35,SP,São Paulo,Sudeste
478570,SP,2,3545,350381098,35038109816,3503810981601,15,15001,1500101,1500101,...,NaN,244.80,NaN,5095.45,575.43393,716.664358,35,SP,São Paulo,Sudeste
478571,SP,2,3545,350381098,35038109816,3503810981601,15,15015,1501501,1501501,...,NaN,49.95,NaN,5095.45,575.43393,716.664358,35,SP,São Paulo,Sudeste

In [183]:
# Exibe o resumo estatístico dos dados
dados.describe()

,situacao,id_estrato,id_unidade_primaria_amostragem,id_domicilio,id_unidade_consumo,id_quadro,id_codigo_5_bd,id_codigo_7_bd,V9001,V9002,...,fator_anualizacao,deflator,V8000,V1904,V8000_deflacionado,V1904_deflacionado,renda_total,peso,peso_final,id_uf
count,478572.000000,478572.000000,4.785720e+05,4.785720e+05,4.785720e+05,478572.000000,478572.000000,4.785720e+05,4.785720e+05,478572.000000,...,478572.000000,470612.000000,4.785720e+05,1.452000e+03,4.785720e+05,1442.000000,478572.000000,478572.000000,478572.000000,478572.000000
mean,1.187167,3225.149555,3.214041e+08,3.214041e+10,3.214041e+12,10.701052,10716.945124,1.071696e+06,1.071696e+06,1.840737,...,4.385886,1.005040,5.188265e+05,4.428481e+06,4.048647e+02,167.793870,5802.390797,1049.928719,1258.567498,32.131665
std,0.390046,1119.436031,1.117809e+08,1.117809e+10,1.117809e+12,4.276224,4281.784274,4.281784e+05,4.281784e+05,1.927249,...,4.655033,0.045610,2.217032e+06,4.968833e+06,4.569823e+03,131.689573,9542.331406,1187.952116,1390.264912,11.176953
min,1.000000,1101.000000,1.100000e+08,1.100000e+10,1.100000e+12,6.000000,6001.000000,6.001010e+05,6.001010e+05,1.000000,...,1.000000,0.771706,1.000000e-02,3.000000e+01,4.000000e-02,1.990000,0.000000,4.387099,5.851120,11.000000
25%,1.000000,2408.000000,2.400388e+08,2.400388e+10,2.400388e+12,6.000000,6010.000000,6.010010e+05,6.010010e+05,1.000000,...,1.000000,0.988343,6.000000e+01,1.207500e+02,5.801000e+01,75.660000,2089.610000,398.886252,503.674977,24.000000
50%,1.000000,3125.000000,3.102279e+08,3.102279e+10,3.102279e+12,10.000000,10006.000000,1.000601e+06,1.000601e+06,1.000000,...,1.000000,1.001556,1.240000e+02,3.500000e+02,1.171200e+02,127.900000,3513.540000,699.722503,858.955418,31.000000
75%,1.000000,4131.000000,4.101525e+08,4.101525e+10,4.101525e+12,15.000000,15012.000000,1.501201e+06,1.501201e+06,1.000000,...,12.000000,1.019280,3.500000e+02,1.000000e+07,2.826300e+02,241.585000,6291.280000,1305.416029,1553.827850,41.000000
max,2.000000,5308.000000,5.300442e+08,5.300442e+10,5.300442e+12,19.000000,19999.000000,1.999901e+06,1.999901e+06,11.000000,...,12.000000,1.278926,1.000000e+07,1.000000e+07,1.251794e+06,1226.970000,675212.200000,49579.041703,65991.328810,53.000000

In [184]:
# Verificando todas os estados presentes na base de dados
dados["sigla_uf"].unique()

array(['AP', 'AC', 'AM', 'AL', 'DF', 'PA', 'CE', 'RR', 'MA', 'ES', 'PI',
       'RO', 'RN', 'GO', 'MT', 'MS', 'PB', 'BA', 'RJ', 'TO', 'PE', 'SE',
       'MG', 'PR', 'SC', 'RS', 'SP'], dtype=object)

In [189]:
# Filtrando os dados do Paraná (PR)
dados_pr = dados[dados['sigla_uf']=="PR"]