In [69]:
# Bibliotecas
import os
import pandas as pd
import matplotlib.pyplot as plt

In [70]:
# Variáveis de Ambiente

# Arquivo Principal
diretorio = os.path.join(os.getcwd(), 'base')
caminho_dados = os.path.join(diretorio, 'br_ibge_despesa_coletiva_sul_2017.csv')
despesa_coletiva = pd.read_csv(caminho_dados)

# Arquivo de Tradução do Campo UF
uf_path = os.path.join(diretorio, 'br_ibge_uf.csv')
uf = pd.read_csv(uf_path)

# Arquivo de Tradução do Campo "Situação", "V9002", "V9004", "V9010", "V9012", "V1905"
fields_path = os.path.join(diretorio, 'br_ibge_campos_tabela.csv')
fields = pd.read_csv(fields_path)

# Join Despesa Coletiva & UF
dados = pd.merge(despesa_coletiva, uf, left_on='sigla_uf', right_on='sigla', how='inner')
dados = dados.drop(columns=['id_uf', 'sigla'])

### Análise Exploratória

In [71]:
# Exibe a quantidade de registros e colunas da base
dados.shape

(76868, 30)

In [72]:
# Exibe a lista de colunas da base
dados.columns

Index(['sigla_uf', 'situacao', 'id_estrato', 'id_unidade_primaria_amostragem',
       'id_domicilio', 'id_unidade_consumo', 'id_quadro', 'id_codigo_5_bd',
       'id_codigo_7_bd', 'V9001', 'V9002', 'V9004', 'V9005', 'V9010', 'V9011',
       'V9012', 'V1905', 'indicador_imputacao_valor',
       'indicador_imputacao_qtd', 'fator_anualizacao', 'deflator', 'V8000',
       'V1904', 'V8000_deflacionado', 'V1904_deflacionado', 'renda_total',
       'peso', 'peso_final', 'nome', 'regiao'],
      dtype='object')

In [73]:
# Exibe a quantidade de valores nulos em cada coluna
dados.isnull().sum()

sigla_uf                              0
situacao                              0
id_estrato                            0
id_unidade_primaria_amostragem        0
id_domicilio                          0
id_unidade_consumo                    0
id_quadro                             0
id_codigo_5_bd                        0
id_codigo_7_bd                        0
V9001                                 0
V9002                                 0
V9004                             37585
V9005                             68989
V9010                             68243
V9011                             68243
V9012                             54810
V1905                             75135
indicador_imputacao_valor             0
indicador_imputacao_qtd           68989
fator_anualizacao                     0
deflator                           1266
V8000                                 0
V1904                             76659
V8000_deflacionado                    0
V1904_deflacionado                76662
renda_total                           0
peso                                  0
peso_final                            0
nome                                  0
regiao                                0
dtype: int64

In [74]:
# Exibe informações gerais sobre a base
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 76868 entries, 0 to 76867
Data columns (total 30 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   sigla_uf                        76868 non-null  object
 1   situacao                        76868 non-null  int64
 2   id_estrato                      76868 non-null  int64
 3   id_unidade_primaria_amostragem  76868 non-null  int64
 4   id_domicilio                    76868 non-null  int64
 5   id_unidade_consumo              76868 non-null  int64
 6   id_quadro                       76868 non-null  int64
 7   id_codigo_5_bd                  76868 non-null  int64
 8   id_codigo_7_bd                  76868 non-null  int64
 9   V9001                           76868 non-null  int64
 10  V9002                           76868 non-null  int64
 11  V9004                           39283 non-null  float64
 12  V9005                           7879 non-null   float64
 13  V9010                           8625 non-null   float64
 14  V9011                           8625 non-null   float64
 15  V9012                           22058 non-null  float64
 16  V1905                           1733 non-null   float64
 17  indicador_imputacao_valor       76868 non-null  int64
 18  indicador_imputacao_qtd         7879 non-null   float64
 19  fator_anualizacao               76868 non-null  int64
 20  deflator                        75602 non-null  float64
 21  V8000                           76868 non-null  float64
 22  V1904                           209 non-null    float64
 23  V8000_deflacionado              76868 non-null  float64
 24  V1904_deflacionado              206 non-null    float64
 25  renda_total                     76868 non-null  float64
 26  peso                            76868 non-null  float64
 27  peso_final                      76868 non-null  float64
 28  nome                            76868 non-null  object
 29  regiao                          76868 non-null  object
dtypes: float64(15), int64(12), object(3)
memory usage: 18.2+ MB

In [75]:
# Exibe os cinco primeiros registros da base
dados.head()

,sigla_uf,situacao,id_estrato,id_unidade_primaria_amostragem,id_domicilio,id_unidade_consumo,id_quadro,id_codigo_5_bd,id_codigo_7_bd,V9001,...,deflator,V8000,V1904,V8000_deflacionado,V1904_deflacionado,renda_total,peso,peso_final,nome,regiao
0,PR,1,4119,410029941,41002994102,4100299410201,6,6001,600101,600101,...,0.976809,54.50,NaN,53.24,NaN,2304.20,2031.388695,2340.867751,Paraná,Sul
1,PR,1,4119,410029941,41002994102,4100299410201,6,6002,600201,600201,...,1.000000,56.00,NaN,56.00,NaN,2304.20,2031.388695,2340.867751,Paraná,Sul
2,PR,1,4119,410029941,41002994102,4100299410201,10,10006,1000601,1000601,...,1.046834,9999999.99,NaN,4362.21,NaN,2304.20,2031.388695,2340.867751,Paraná,Sul
3,PR,1,4119,410029941,41002994104,4100299410401,6,6001,600101,600101,...,1.018282,68.32,NaN,69.57,NaN,1540.08,2031.388695,2340.867751,Paraná,Sul
4,PR,1,4119,410029941,41002994104,4100299410401,6,6002,600201,600201,...,1.000000,44.68,NaN,44.68,NaN,1540.08,2031.388695,2340.867751,Paraná,Sul

In [76]:
# Exibe os cinco últimos registros da base
dados.tail()

,sigla_uf,situacao,id_estrato,id_unidade_primaria_amostragem,id_domicilio,id_unidade_consumo,id_quadro,id_codigo_5_bd,id_codigo_7_bd,V9001,...,deflator,V8000,V1904,V8000_deflacionado,V1904_deflacionado,renda_total,peso,peso_final,nome,regiao
76863,RS,2,4327,430129770,43012977017,4301297701701,6,6002,600201,600201,...,1.000000,20.0,NaN,20.00,NaN,3238.74,588.380091,635.512792,Rio Grande do Sul,Sul
76864,RS,2,4327,430129770,43012977017,4301297701701,7,7001,700101,700101,...,0.985053,65.0,NaN,64.03,NaN,3238.74,588.380091,635.512792,Rio Grande do Sul,Sul
76865,RS,2,4327,430129770,43012977017,4301297701701,9,9005,900501,900501,...,1.063086,230.0,NaN,244.51,NaN,3238.74,588.380091,635.512792,Rio Grande do Sul,Sul
76866,RS,2,4327,430129770,43012977017,4301297701701,10,10007,1000701,1000701,...,1.042887,35.0,NaN,36.50,NaN,3238.74,588.380091,635.512792,Rio Grande do Sul,Sul
76867,RS,2,4327,430129770,43012977017,4301297701701,16,16016,1601601,1601601,...,1.026650,780.0,NaN,800.79,NaN,3238.74,588.380091,635.512792,Rio Grande do Sul,Sul

In [77]:
# Exibe o resumo estatístico dos dados
dados.describe()

,situacao,id_estrato,id_unidade_primaria_amostragem,id_domicilio,id_unidade_consumo,id_quadro,id_codigo_5_bd,id_codigo_7_bd,V9001,V9002,...,indicador_imputacao_qtd,fator_anualizacao,deflator,V8000,V1904,V8000_deflacionado,V1904_deflacionado,renda_total,peso,peso_final
count,76868.000000,76868.000000,7.686800e+04,7.686800e+04,7.686800e+04,76868.000000,76868.000000,7.686800e+04,7.686800e+04,76868.000000,...,7879.000000,76868.000000,75602.000000,7.686800e+04,2.090000e+02,76868.000000,206.000000,76868.000000,76868.000000,76868.000000
mean,1.218622,4222.885050,4.207991e+08,4.207991e+10,4.207991e+12,10.749948,10764.882188,1.076489e+06,1.076489e+06,1.783044,...,0.352964,4.368359,1.008551,3.825570e+05,5.454627e+06,479.542195,157.247136,6792.163293,1123.093402,1308.788780
std,0.413314,84.365979,8.399866e+06,8.399866e+08,8.399866e+10,4.269291,4274.616272,4.274616e+05,4.274616e+05,1.871845,...,0.477922,4.693642,0.036909,1.916913e+06,4.991162e+06,4569.910390,145.911720,10203.461701,918.103877,1082.064904
min,1.000000,4101.000000,4.100009e+08,4.100009e+10,4.100009e+12,6.000000,6001.000000,6.001010e+05,6.001010e+05,1.000000,...,0.000000,1.000000,0.851249,5.000000e-01,3.000000e+01,0.500000,2.500000,17.560000,82.602892,104.265303
25%,1.000000,4125.000000,4.101300e+08,4.101300e+10,4.101300e+12,6.000000,6011.000000,6.011010e+05,6.011010e+05,1.000000,...,0.000000,1.000000,0.993536,6.500000e+01,1.600000e+02,63.870000,51.600000,2846.920000,664.067496,834.058871
50%,1.000000,4215.000000,4.200698e+08,4.200698e+10,4.200698e+12,10.000000,10006.000000,1.000601e+06,1.000601e+06,1.000000,...,0.000000,1.000000,1.003045,1.300000e+02,1.000000e+07,122.770000,120.115000,4636.780000,987.634154,1179.690269
75%,1.000000,4312.000000,4.300797e+08,4.300797e+10,4.300797e+12,15.000000,15015.000000,1.501501e+06,1.501501e+06,1.000000,...,1.000000,12.000000,1.025831,3.500000e+02,1.000000e+07,301.060000,208.242500,7789.670000,1341.206078,1548.300098
max,2.000000,4335.000000,4.302038e+08,4.302038e+10,4.302038e+12,19.000000,19014.000000,1.901401e+06,1.901401e+06,11.000000,...,1.000000,12.000000,1.159909,1.000000e+07,1.000000e+07,409415.250000,1194.340000,672890.960000,26070.613636,34938.751040

In [78]:
# Verificando todas os estados presentes na base de dados
dados["sigla_uf"].unique()

array(['PR', 'SC', 'RS'], dtype=object)

In [79]:
# Filtrando os dados do Paraná (PR)
dados_pr = dados[dados['sigla_uf']=="PR"]